$background-primary: #232931;
$background-secondary: #393e46;
$accent-color: #4ecca3;
$primary-text: #eeeeee;

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    h2 {
        font-family: 'Oswald', sans-serif;
    }
}