@import 'variables';

body {
    display: flex;
    color: $primary-text;
}

.left-panel {
    width: 200px;
    height: 800px;
    padding: 1em;
    background-color: $background-primary;

    .main-menu {

        .inbox {
            margin: 1em 0;
            color: $accent-color;
        }
    
        .logbook {
            margin: 1em 0 0 0;
            
        }
    }

    .projects {
        margin-top: 2em;
    }

}

.right-panel {
    background-color: $background-secondary;
    padding: 1em;
    width: 800px;
    height: 800px;
}