@import 'global';

body {
    display: flex;
    color: $primary-text;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.left-panel {
    width: 200px;
    padding: 3em 0 0 1em;
    background-color: $background-primary;

    .main-menu {

        .inbox {
            color: $accent-color;
        }
    
        .logbook {
            margin: 1em 0 0 0;
            
        }
    }

    .projects {
        margin-top: 2em;
    }

    .main-menu {

        div {
            padding: .2em .4em;
            border-radius: 5px;
        }

        div:hover {
            background-color: lighten($background-primary, $amount: 20%);
            cursor: pointer;
            
        }
    }

}

.right-panel {
    background-color: $background-secondary;
    padding: 3em 0 0 3em;
    width: 100vw;

    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 1em;
    }

    span {
        margin: .2em 0 .2em 0;
        border-radius: 5px;
        max-width: 500px;
        
        input {
            margin-right: 10px;
        }
    }

    span:hover {
        background-color: lighten($background-primary, $amount: 20%);
    }
}

.add-todo {
    position: absolute;
    bottom: 1em;
    right: 1em;

    padding: 1.5em;
    background-color: $accent-color;
    border-radius: 5px;
    border: none;
    color: $primary-text;

    &:hover {
        background-color: darken($accent-color, 20%);
        cursor: pointer;
    }
}

.add-form {
    position: absolute;
    display: none;
    bottom: 5em;
    right: 1em;
    background-color: $background-primary;
    padding: 1.5em;
    border-radius: 5px;

    button {
        padding: 1.5em;
        background-color: $accent-color;
        border-radius: 5px;
        border: none;
        color: $primary-text;
    
        &:hover {
            background-color: darken($accent-color, 20%);
            cursor: pointer;
        }
    }

}